TELEGRAM_BOT_TOKEN=вставьте_сюда_токен_от_BotFather
CHANNEL_USERNAME=@prosto_prodash
ADMIN_CHAT_ID=
CHANNEL_URL=https://t.me/prosto_prodash
TRAINING_CONTACT_URL=https://t.me/prosto_prodash_pr
STATS_PATH=/data/stats.json
